body{
    background-color: grey
}


    

h1{
    color: grey ;
    background-color: white;
    font-size: 20;
    margin: 5px;
    text-align: center;
}

h2{
    color: grey ;
    background-color: white;
    font-size: 20;
    margin: 5px;
    text-align: center;
}